/* ================ 
     google fonts 
  ==================*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================================
    using custom properties (variables) 
   ======================================*/

:root {
  --white-color: #fff;
  --danger-color: #b80924;
  --text-color: #2d2e2e;
  --blue-color: #0d2d62;
  --heading-color: #b3bfdc;
}

::selection {
  color: var(--white-color);
  background-color: var(--danger-color);
}

html {
  scroll-behavior: smooth;
}

/* ===================== 
     utilities start
   ===================== */

body {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

.danger__button {
  color: var(--white-color);
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  padding: 15px 27px;
  font-size: 16px;
  border: 0;
  outline: 0;
  line-height: 16px;
  white-space: nowrap;
  transition: 0.3s;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 18%);
  user-select: none;
  border-radius: 10px;
  font-weight: 700;
}

.danger__button:hover {
  color: var(--danger-color);
  background-color: var(--white-color);
  border-color: var(--white-color);
}

.section__heading {
  font-weight: 700;
  line-height: 1.27273;
  font-size: 44px;
}

.section__content {
  font-size: 14px;
}

.learn__more {
  color: var(--blue-color);
  background-color: transparent;
  border: 2px solid var(--blue-color);
  padding: 15px 27px;
  font-size: 16px;
  outline: 0;
  line-height: 16px;
  white-space: nowrap;
  transition: 0.3s;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 18%);
  user-select: none;
  border-radius: 10px;
  font-weight: 800;
}

.learn__more:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.card__title {
  color: var(--danger-color);
  font-weight: 700;
  font-size: 18px;
}

.card__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.6;
}
/* ===================== 
      utilities end
   ===================== */

/* ==================
    carousel start
   ================  */
#carousel__container {
  position: relative;
}

.carousel__content {
  position: absolute;
  top: 30%;
  left: 50px;
  color: var(--white-color);
  width: 62%;
}

.carousel__content h2 {
  font-weight: 700;
  line-height: 1.27273;
  font-size: 44px;
}

.carousel__content h5 {
  font-weight: 400;
  line-height: 1.27273;
  font-size: 18px;
}

/* ==================
      carousel end
   ================  */

/* about us start */

.fa-long-arrow-alt-right {
  margin-left: 10px;
}

.about__image {
  display: flex;
  justify-content: center;
}

/* about us end */

/* Courses and Programme Finder section start */

#courses {
  overflow: hidden;
  background-color: var(--blue-color);
}

#courses h1,
#courses .section__content {
  color: var(--heading-color);
}

.statistics__card i {
  width: 120px;
  height: 120px;
  line-height: 120px;
  font-size: 60px;
  border-radius: 50%;
  border: 2px solid var(--heading-color);
  margin: 0 auto;
  text-align: center;
  color: var(--blue-color);
}

/* Courses and Programme Finder section end */

/* Statistics section start */

.statistics__card h5 {
  color: var(--danger-color);
  font-weight: 700;
  font-size: 30px;
}

.statistics__card h6 {
  line-height: 1.22222;
  font-size: 18px;
}

/* Statistics section end */

/* student section start */

#student {
  background-image: url("../images/students.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* student section end */
